@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    background-color: #000000;
    color: white;
    font-family: "dunbar-text", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.hr {
    background-color: #F16F51;
    height: 1.5px;
    border: none;
}

.title {
    font-family: "lust-sans", sans-serif;
    font-style: normal;
    font-size: 43px;
}

.title-color {
    color: #F16F51;
}

.slogan {
    font-family: "lust-sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 43px;
    line-height: 65px;
    -webkit-text-stroke: 0.5px white;
    color: black;
}

.bg-color {
    background-color: #F8CDC5;
    color: black;
}

.div-hover:hover img {
    top: 13rem;
}

.div-hover:hover p {
    visibility: visible;
}

.div-hover:hover h3 {
    color: #F16F51;
}

.bg-color-devis-section {
    background-color: rgba(241, 111, 81, 0.4);
    border: #F16F51 solid 3px;
}

.bg-input {
    background-color: #F8CDC5;
    border: #F16F51 solid 3px;
}

.bg-input::placeholder {
    opacity: 1;
    color: black;
}